.press{
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 5;
    background-color: red;
}
.togglediv{
    height:300px;
}
.court{
    position: absolute;
    height: 300px;
    z-index: 4;
}
.courtimage{
    max-width:100%; 
    max-height:100%;
}
#youtube{
    position: absolute;
    left: 0px;
    top: 0px;
}
.tableformat{
    width: 100%;
}

.homestats2{
    background-color: rgb(42, 104, 154);
    color: white;
}
.awaystats2{
    background-color: rgb(255,202,35);
    color: black;
}

.teamname {
    background-color:#000000; /* black in hex */
    color: rgb(255,255,255); /* white text in rgb */
}  
.score{
    font-size:45px;
}
.fouls{
    font-size:14px;
    background: rgb(200,200,200);
}

.advertisment{
    background-color: #81efbc;
}

.shot{
    background-color: greenyellow;
    position: absolute;
    padding: 0px 0px;
    width: 15px;
    height: 15px;
}

.teamastats{
    background-color: rgb(42,104,154);
    color: white;
}
.teamstattitle{
    background: rgb(200,200,200); 
    color: black;
    font-size: 15px;
}
.teambstats{
    background-color: #FFCA23;
}
.period{
    background-color: #E9E9E9;
}